.chat {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid #fafafa;
    /* border: 1px dashed red; */

}
a {
    text-decoration: none;
    color: inherit;
}
.chat__details{
    flex: 1;
    /* border: .1px dashed blue; */
}
.chat__details > p {
    color: rgb(128, 128, 128);
}
.chat__image {
    margin-right: 20px;
}

.chat__timestamp {
    color: rgb(211, 211, 211);
}